# Ignora dependências
node_modules/

# Ignora arquivos de build do VSCode
*.vsix

# Ignora arquivos do sistema
.DS_Store
Thumbs.db

# Configs locais do VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
